body{
    background-color: #9d9d9d;
}

.bayan {
    font-family: "Century Gothic", sans-serif;
    box-sizing: border-box;
}

.title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0.5em 0;
    transition: all .3s linear;
}

.mem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mem_container {
    display: flex;
    width: 24%;
    justify-content: space-between;
    align-items: center;
    border-radius: 1em;
    padding: 0.4em;
    background-color: rgb(204, 204, 204);
    transition: all .3s linear;
    cursor: pointer;
}

.cross {
    width: 2vw;
    transition: all .3s ease;
}

.cross_active {
    transform: rotate(45deg);
}

.img {
    width: 0;
    max-height: 30vh;
    display: flex;
    border-radius: 1em;
    margin: 0.5em;
    justify-content: center;
    transition: all 1s ease;
    transform: scale(0.9);
    box-shadow: 8px 8px 24px 0 rgba(66, 68, 90, 1);
}

.active_img {
    width: 30vw;
    transform: scale(0.9);
}
.active_container{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    box-shadow: 8px 8px 24px 0 rgba(66, 68, 90, 1);
}
.mem:hover > .mem_container {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    box-shadow: 8px 8px 24px 0 rgba(66, 68, 90, 1);
}

.mem:hover > .img {
    width: 30vw;
}

.mem:hover > .mem_container  .cross {
    transform: rotate(45deg);
}

.img:active {
    transform: scale(0.5);
    box-shadow: 8px 7px 7px 1px rgb(66 68 90);
}

.title:hover{
    color: #ffffff;
}